DATABASE_URL="postgresql://user:password@localhost:5432/hualas"
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
MP_ENVIRONMENT="testing"
MP_PUBLIC_KEY=""
MP_ACCESS_TOKEN=""
MERCADOPAGO_PUBLIC_KEY=""
MERCADOPAGO_ACCESS_TOKEN=""
MP_AUTO_RETURN="approved"
MP_BINARY_MODE="false"
MP_MAX_INSTALLMENTS="1"
MP_PREFERENCE_EXPIRES_MINUTES="60"
MP_EXCLUDED_PAYMENT_METHODS=""
MP_EXCLUDED_PAYMENT_TYPES=""
PINATA_JWT=""
PUSHALERT_REST_API_KEY=""
