DATABASE_URL="postgresql://user:password@localhost:5432/hualas"
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
MP_ACCESS_TOKEN=""
PINATA_JWT=""
